@media screen and (max-width: 1224px) {
.mobile-bg {
    width: 100%;
}

.mobileMusclemap {
    position: relative;
}

.mobileMusclemap>img:not(.mobile-bg) {
    display: block;
    position: absolute;
    opacity: 0;
}

.mobile-male-traps-left {
    top: 9.15%;
    left: 38.5%;
    width: 9.2%;
}

.mobile-male-traps-right {
    top: 9.15%;
    left: 51.1%;
    width: 9.2%;
}

.mobile-male-pecs {
    top: 11.78%;
    left: 32.672%;
    width: 33.68%;
}

.mobile-male-shoulders-left {
    top: 11.27%;
    left: 26.4%;
    width: 14.5%;
}

.mobile-male-shoulders-right {
    top: 11.2599%;
    left: 58.02%;
    width: 14.5%;
}

.mobile-male-biceps-left {
    top: 14.55%;
    left: 23.6%;
    width: 10.5%;
}

.mobile-male-biceps-right {
    top: 14.55%;
    left: 64.8%;
    width: 10.5%;
}

.mobile-male-forearm-left {
    top: 18.2%;
    left: 12.6%;
    width: 17.6%;
}

.mobile-male-forearm-right {
    top: 18.2%;
    left: 68.5%;
    width: 17.4%;
}

.mobile-male-obliques {
    top: 15.45%;
    left: 40.7%;
    width: 16.8%;
}

.mobile-male-quads-left {
    top: 23.1%;
    left: 30.8%;
    width: 17%;
}

.mobile-male-quads-right {
    top: 23.1%;
    left: 51.1%;
    width: 17%;
}

.mobile-male-calves-left {
    top: 35.9%;
    left: 29.73%;
    width: 11.9%;
}

.mobile-male-calves-right {
    top: 35.9%;
    left: 57.3%;
    width: 11.9%;
}

.mobile-male-back-traps {
    top: 56.5%;
    left: 40.46%;
    width: 21%;
}

.mobile-male-back-traps-mid {
    top: 58%;
    left: 40.46%;
    width: 21.6%;
}

.mobile-male-back-shoulders-left {
    top: 58.8%;
    left: 26.37%;
    width: 14.8%;
}

.mobile-male-back-shoulders-right {
    top: 58.8%;
    left: 61.19%;
    width: 14.8%;
}

.mobile-male-triceps-left {
    top: 61.94%;
    left: 22.8%;
    width: 12%;
}

.mobile-male-triceps-right {
    top: 61.94%;
    left: 67.6%;
    width: 12%;
}

.mobile-male-back-lats-left {
    top: 63%;
    left: 34.8%;
    width: 15.7%;
}

.mobile-male-back-lats-right {
    top: 63%;
    left: 52%;
    width: 15.7%;
}

.mobile-male-back-lower {
    top: 66.5%;
    left: 42.4%;
    width: 17.6%;
}

.mobile-male-back-forearms-left {
    top: 66.95%;
    left: 11.9%;
    width: 16.7%;
}

.mobile-male-back-forearms-right {
    top: 66.95%;
    left: 73.8%;
    width: 16.7%;
}

.mobile-male-back-glutes {
    top: 71.07%;
    left: 35.3%;
    width: 32%;
}

.mobile-male-back-hamstrings-left {
    top: 74.7%;
    left: 32.15%;
    width: 17.8%;
}

.mobile-male-back-hamstrings-right {
    top: 74.85%;
    left: 52.66%;
    width: 17.9%;
}

.mobile-male-back-calves-left {
    top: 84.46%;
    left: 27.4%;
    width: 12.6%;
}

.mobile-male-back-calves-right {
    top: 84.495%;
    left: 62.36%;
    width: 12.6%;
}

.mobile-female-Traps-left {
    top: 10.84%;
    left: 39.8%;
    width: 7.22%;
}

.mobile-female-Traps-right {
    top: 10.84%;
    left: 52.2%;
    width: 7.22%;
}

.mobile-female-Shoulders-left {
    top: 12.07%;
    left: 29.82%;
    width: 10.7%;
}

.mobile-female-Shoulders-right {
    top: 12.1%;
    left: 58.89%;
    width: 10.7%;
}

.mobile-female-Pecs {
    top: 12.7%;
    left: 36.3%;
    width: 26.8%;
}

.mobile-female-Biceps-left {
    top: 15%;
    left: 28.2%;
    width: 8.5%;
}

.mobile-female-Biceps-right {
    top: 15%;
    left: 62.7%;
    width: 8.5%;
}

.mobile-female-Forearm-left {
    top: 18.72%;
    left: 20.3%;
    width: 12.8%;
}

.mobile-female-Forearm-right {
    top: 18.66%;
    left: 66.35%;
    width: 12.8%;
}

.mobile-female-Abdominals {
    top: 16.7%;
    left: 42.49%;
    width: 14.3%;
}

.mobile-female-Quads-left {
    top: 24.55%;
    left: 34.1%;
    width: 13.4%;
}

.mobile-female-Quads-right {
    top: 24.55%;
    left: 51.75%;
    width: 13.4%;
}

.mobile-female-Calves-left {
    top: 38.8%;
    left: 32.5%;
    width: 9.7%;
}

.mobile-female-Calves-right {
    top: 38.8%;
    left: 57.1%;
    width: 9.7%;
}

.mobile-female-Back-traps {
    top: 58.76%;
    left: 41.7%;
    width: 19%;
}

.mobile-female-Back-traps-lower {
    top: 59.8%;
    left: 40.2%;
    width: 22%;
}

.mobile-female-Back-Shoulders-left {
    top: 60.26%;
    left: 29.4%;
    width: 12.4%;
}

.mobile-female-Back-Shoulders-right {
    top: 60.26%;
    left: 60.6%;
    width: 12.4%;
}

.mobile-female-Triceps-left {
    top: 63.32%;
    left: 28.5%;
    width: 8.4%;
}

.mobile-female-Triceps-right {
    top: 63.32%;
    left: 65.58%;
    width: 8.6%;
}

.mobile-female-Back-lats-left {
    top: 64.7%;
    left: 38.53%;
    width: 12.3%;
}

.mobile-female-Back-lats-right {
    top: 64.7%;
    left: 51.6%;
    width: 12.3%;
}

.mobile-female-Back-lower {
    top: 68.15%;
    left: 43.34%;
    width: 15.9%;
}

.mobile-female-Back-Forearms-left {
    top: 68.46%;
    left: 22.74%;
    width: 10.1%;
}

.mobile-female-Back-Forearms-right {
    top: 68.46%;
    left: 69.5%;
    width: 10.3%;
}

.mobile-female-Back-Glutes {
    top: 72.68%;
    left: 36.43%;
    width: 29.58%;
}

.mobile-female-Back-Hamstrings-left {
    top: 75.9%;
    left: 34.5%;
    width: 14.5%;
}

.mobile-female-Back-Hamstrings-right {
    top: 75.9%;
    left: 53.6%;
    width: 14.5%;
}

.mobile-female-Back-Calves-left {
    top: 85.8%;
    left: 34.46%;
    width: 10.7%;
}

.mobile-female-Back-Calves-right {
    top: 85.8%;
    left: 57.37%;
    width: 10.7%;
}

.mobileMusclemap > img:not(.mobilebg):hover {
    opacity: 1;
}

}