.Musclemap {
    background-color: #F5F8FA;
    position: relative;
    box-sizing: border-box;
    cursor: default;
}

.hide {
    display: none;
}

.genderBtn {
    background-color: #F5F8FA;
    display: block;
    margin-top: 5%;
    margin-bottom: 0;
}

.genderBtn button {
    width: 10%;
    cursor: pointer;
    font-family: 'Racing Sans One', cursive;
    font-size: 1.1em;
    background-color: #20409A;
    color: #fff;
    margin: 1em;
    border-radius: 12px;
    height: 30px;
}

.Inactive {
    background-color: #fff !important;
    color: #20409A !important;
    border: 2px solid #20409A;
}

.Musclemap img {
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
}

.male-traps-left {
    top: 17.4%;
    left: 26.7%;
    width: 3.39%;
}

.male-traps-right {
    top: 17.4%;
    left: 31.48%;
    width: 3.39%;
}

.male-pecs {
    top: 22%;
    left: 24.3%;
    width: 13%;
}

.male-shoulders-left {
    top: 21.1%;
    left: 21.84%;
    width: 5.61%;
}

.male-shoulders-right {
    top: 21.1%;
    left: 34.1%;
    width: 5.61%;
}

.male-biceps-left {
    top: 26.9%;
    left: 20.89%;
    width: 4.05%;
}

.male-biceps-right {
    top: 26.9%;
    left: 36.67%;
    width: 4.05%;
}

.male-forearm-left {
    top: 33.6%;
    left: 16.75%;
    width: 6.62%;
}

.male-forearm-right {
    top: 33.6%;
    left: 38.18%;
    width: 6.61%;
}

.male-obliques {
    top: 28.67%;
    left: 27.44%;
    width: 6.42%;
}

.male-quads-left {
    top: 42.2%;
    left: 23.6%;
    width: 6.55%;
}

.male-quads-right {
    top: 42.2%;
    left: 31.4%;
    width: 6.55%;
}

.male-calves-left {
    top: 64.59%;
    left: 23.19%;
    width: 4.67%;
}

.male-calves-right {
    top: 64.49%;
    left: 33.74%;
    width: 4.67%;
}

.male-back-traps {
    top: 15.38%;
    left: 67.3%;
    width: 7%;
}

.male-back-traps-mid {
    top: 17.82%;
    left: 66.87%;
    width: 8.1%;
}

.male-back-shoulders-left {
    top: 19.29%;
    left: 61.5%;
    width: 5.7%;
}

.male-back-shoulders-right {
    top: 19.29%;
    left: 74.6%;
    width: 5.7%;
}

.male-triceps-left {
    top: 24.83%;
    left: 60.2%;
    width: 4.58%;
}

.male-triceps-right {
    top: 24.83%;
    left: 77.1%;
    width: 4.58%;
}

.male-back-lats-left {
    top: 26.66%;
    left: 64.7%;
    width: 6%;
}

.male-back-lats-right {
    top: 26.66%;
    left: 71.2%;
    width: 6%;
}

.male-back-lower {
    top: 32.86%;
    left: 67.62%;
    width: 6.59%;
}

.male-back-forearms-left {
    top: 33.5%;
    left: 56.1%;
    width: 6.36%;
}

.male-back-forearms-right {
    top: 33.5%;
    left: 79.34%;
    width: 6.36%;
}

.male-back-glutes {
    top: 41%;
    left: 64.89%;
    width: 12.08%;
}

.male-back-hamstrings-left {
    top: 47.49%;
    left: 63.75%;
    width: 6.67%;
}

.male-back-hamstrings-right {
    top: 47.49%;
    left: 71.47%;
    width: 6.7%;
}

.male-back-calves-left {
    top: 64.43%;
    left: 61.94%;
    width: 4.8%;
}

.male-back-calves-right {
    top: 64.43%;
    left: 75.1%;
    width: 4.8%;
}

.Musclemap>img:not(.background) {
    display: block;
    position: absolute;
    opacity: 0;
}

.Musclemap>img:not(.background):hover {
    opacity: 1;
    transition: opacity 0.5s;
}