.female-Traps-left {
    top: 21.8%;
    left: 25.8%;
    width: 3%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.female-Traps-right {
    top: 21.8%;
    left: 30.57%;
    width: 3%;
}

.female-Shoulders-left {
    top: 24.22%;
    left: 22.1%;
    width: 4.22%;
}

.female-Shoulders-right {
    top: 24.26%;
    left: 33.21%;
    width: 4.22%;
}

.female-Pecs {
    top: 25.37%;
    left: 24.6%;
    width: 10.4%;
}

.female-Biceps-left {
    top: 29.48%;
    left: 21.47%;
    width: 3.3%;
}

.female-Biceps-right {
    top: 29.48%;
    left: 34.8%;
    width: 3.3%;
}

.female-Forearm-left {
    top: 36.1%;
    left: 18.42%;
    width: 5%;
}

.female-Forearm-right {
    top: 36.1%;
    left: 36.1%;
    width: 5%;
}

.female-Abdominals {
    top: 32.48%;
    left: 26.99%;
    width: 5.57%;
}

.female-Quads-left {
    top: 46.7%;
    left: 23.7%;
    width: 5.2%;
}

.female-Quads-right {
    top: 46.7%;
    left: 30.5%;
    width: 5.2%;
}

.female-Calves-left {
    top: 72%;
    left: 23.1%;
    width: 3.8%;
}

.female-Calves-right {
    top: 72%;
    left: 32.58%;
    width: 3.8%;
}

.female-Back-traps {
    top: 20.53%;
    left: 66.36%;
    width: 7.47%;
}

.female-Back-traps-lower {
    top: 22.5%;
    left: 65.97%;
    width: 8.36%;
}

.female-Back-Shoulders-left {
    top: 23.25%;
    left: 61.9%;
    width: 4.7%;
}

.female-Back-Shoulders-right {
    top: 23.2%;
    left: 73.66%;
    width: 4.7%;
}

.female-Triceps-left {
    top: 28.6%;
    left: 61.5%;
    width: 3.2%;
}

.female-Triceps-right {
    top: 28.72%;
    left: 75.52%;
    width: 3.22%;
}

.female-Back-lats-left {
    top: 31%;
    left: 65.3%;
    width: 4.7%;
}

.female-Back-lats-right {
    top: 31%;
    left: 70.2%;
    width: 4.7%;
}

.female-Back-lower {
    top: 37.21%;
    left: 67.09%;
    width: 6.12%;
}

.female-Back-Forearms-left {
    top: 37.55%;
    left: 59.3%;
    width: 3.9%;
}

.female-Back-Forearms-right {
    top: 37.69%;
    left: 76.96%;
    width: 3.9%;
}

.female-Back-Glutes {
    top: 45.5%;
    left: 64.53%;
    width: 11.2%;
}

.female-Back-Hamstrings-left {
    top: 51.2%;
    left: 63.79%;
    width: 5.46%;
}

.female-Back-Hamstrings-right {
    top: 51.2%;
    left: 71%;
    width: 5.46%;
}

.female-Back-Calves-left {
    top: 68.6%;
    left: 63.77%;
    width: 4.12%;
}

.female-Back-Calves-right {
    top: 68.6%;
    left: 72.38%;
    width: 4.12%;
}