.femaleTrapsA {
    top: 21.8%;
    left: 25.8%;
    width: 3%;
}

.femaleTrapsB {
    top: 21.8%;
    left: 30.57%;
    width: 3%;
}

.femaleShouldersA {
    top: 24.22%;
    left: 22.1%;
    width: 4.22%;
}

.femaleShouldersB {
    top: 24.26%;
    left: 33.21%;
    width: 4.22%;
}

.femalePecs {
    top: 25.37%;
    left: 24.6%;
    width: 10.4%;
}

.femaleBicepsA {
    top: 29.48%;
    left: 21.47%;
    width: 3.3%;
}

.femaleBicepsB {
    top: 29.48%;
    left: 34.8%;
    width: 3.3%;
}

.femaleForearmA {
    top: 36.1%;
    left: 18.42%;
    width: 5%;
}

.femaleForearmB {
    top: 36.1%;
    left: 36.1%;
    width: 5%;
}

.femaleAbdominals {
    top: 32.48%;
    left: 26.99%;
    width: 5.57%;
}

.femaleQuadsA {
    top: 46.7%;
    left: 23.7%;
    width: 5.2%;
}

.femaleQuadsB {
    top: 46.7%;
    left: 30.5%;
    width: 5.2%;
}

.femaleCalvesA {
    top: 72%;
    left: 23.1%;
    width: 3.8%;
}

.femaleCalvesB {
    top: 72%;
    left: 32.58%;
    width: 3.8%;
}

.femaleBacktrapsA {
    top: 20.53%;
    left: 66.36%;
    width: 7.47%;
}

.femaleBacktrapsB {
    top: 22.5%;
    left: 65.97%;
    width: 8.36%;
}

.femaleBackShouldersA {
    top: 23.25%;
    left: 61.9%;
    width: 4.7%;
}

.femaleBackShouldersB {
    top: 23.2%;
    left: 73.66%;
    width: 4.7%;
}

.femaleTricepsA {
    top: 28.6%;
    left: 61.5%;
    width: 3.2%;
}

.femaleTricepsB {
    top: 28.72%;
    left: 75.52%;
    width: 3.22%;
}

.femaleBacklatsA {
    top: 31%;
    left: 65.3%;
    width: 4.7%;
}

.femaleBacklatsB {
    top: 31%;
    left: 70.2%;
    width: 4.7%;
}

.femaleBacklower {
    top: 37.21%;
    left: 67.09%;
    width: 6.12%;
}

.femaleBackForearmsA {
    top: 37.55%;
    left: 59.3%;
    width: 3.9%;
}

.femaleBackForearmsB {
    top: 37.69%;
    left: 76.96%;
    width: 3.9%;
}

.femaleBackGlutes {
    top: 45.5%;
    left: 64.53%;
    width: 11.2%;
}

.femaleBackHamstringsA {
    top: 51.2%;
    left: 63.79%;
    width: 5.46%;
}

.femaleBackHamstringsB {
    top: 51.2%;
    left: 71%;
    width: 5.46%;
}

.femaleBackCalvesA {
    top: 68.6%;
    left: 63.77%;
    width: 4.12%;
}

.femaleBackCalvesB {
    top: 68.6%;
    left: 72.38%;
    width: 4.12%;
}