* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    font-family: 'Racing Sans One', cursive;
    width: auto;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border-width: 0 0 3px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border-color: #e7e7e7;
    border-bottom: 1px solid;
}

.title {
    max-height: 29px;
    width: auto;
    display: block;
    float: left;
}

.row ul {
    float: left !important;
    margin-left: 20em;
    list-style: none;
    width:auto;
}

.row li {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 1em;
    color: #424244;
}

.row li:hover {
    color: #20409A;
    transition: all ease 0.5s;
    cursor: pointer;
}

.row  input {
    border-radius: 10px;
    height: 25px;
    width: 20%;
    border: 2px solid #20409A;
}
.mobileNav {
    display: none;
}

@media (max-width: 979px) {
    .row {
        width: 100%;
    }
    .row ul {
        display: none;
    }
    .row input {
        display: none;
    }

    .mobileNav {
        display: block;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABIUlEQVRoge3YMU6EQBiG4Y/RBuIlXE+gth7DC2xCgBA7Y2myiR5hCwLEmNB6C2v1BHALJxSTGRsxO1iIxMzg5ns6fijeCc2fAYiIiIgWJxgP4jg+F0KsfMRMpbXu6rp+2Z1ZB0nTdG2MeXCbNY8xZl1V1ePwLEYvL5wXzWe1WgcRQmwBtE5z5mkBbH1HEBHR/rBWlDzPj5RStwCOPfVMYozp+r6/a5rmfZgd7n6glNoAuHYd9ltBECCKogMAN8NMjD4wzqv+iPVHpJSbMAwVgBNPPVO1Usp73xFERLQ/rF0ry7JTrfUTgEXfawHohBCXRVG8DQNrRdFaX2H5hwCA1Wfrl/G91rPbnvnGrd+uTJMkOcM/2LXKsnz1HUFERET0gw/u+1Nmd0ceMgAAAABJRU5ErkJggg==');
        background-size: cover;
        background-color: transparent;
        float: right;
        border-radius: 4px;
        padding: 1.1em 1.2em;
        border: 1px solid transparent;
        border-color: #ddd !important;
    }

    .genderBtn {
        padding-top: 3em !important;
        padding-left: 30%;
    }

    .genderBtn button {
        margin: 0.5em !important;
        width: 23% !important;
    }

}

@media (max-width: 979px) {
    
}