* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    font-family: 'Racing Sans One', cursive;
   width: auto;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border-width: 0 0 3px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border-color: #e7e7e7;
    border-bottom: 1px solid;
}

.title {
    height: 25px;
    width: auto;
    display: block;
    float: left;
}

.row ul {
    float: left !important;
    margin-left: 20em;
    list-style: none;
    width:auto;
}

.row li {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 1em;
    color: #111;
}

.row li:hover {
    color: #20409A;
    transition: all ease 0.5s;
    cursor: pointer;
}

.row  input {
    border-radius: 10px;
    height: 25px;
    width: 20%;
}